*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  height: 100%;
  background: radial-gradient(circle, #ff7d10, #0a0310);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.lista{
  width: 450px;
  overflow-y: auto;
  padding: 25px;
  margin: 0 auto;
  border: 2px solid black;
  background: rgba(100,00,130, 0.6);
  position: relative;
}

div.lista h1{
  font-size: 26px;
  color: #ff7d10;
  padding: 5px 0 20px 0;
}

div.lista ul{
  padding: 5px 20px 60px 20px;
}

ul li{
  list-style-type: none;
  border-bottom: 1px solid black;
  align-items: left;
  font-size: 20px;
  position: relative;
  cursor: pointer;
}

ul li:hover{
  color: white;
}

li span{
 align-items: end;
  cursor: pointer;
  font-size: 22px;
  color: black;
  position: absolute;
  top: 0;
  right: 10px;
}

li span:hover{
  font-size: 28px;
  color: #ffb266;
}

div.botoes{
  position: relative;
  bottom: 30px;
}

input{
  padding: 2px;
}

button{
  font-size: 15px;
  color: #333;
  background: #ff7d10;
  cursor: pointer;
  color: white;
  padding: 2px;
}

button:hover{
  padding: 4px 2px;
  background: #ff7d33;
}